// mixin
@mixin scroll-bar($scrollBarColor) {
  // 火狐
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  // webkit
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background-color: rgba($color: $scrollBarColor, $alpha: 0.3) !important;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $scrollBarColor !important;
  }
}
