$min-height: 78vh;
.dartOutput {
  position: relative;
  margin: 0;
  min-height: $min-height;
  max-height: $min-height;
  overflow: auto;
  .placeholder,
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: $min-height;
    color: #90caf9;
    user-select: none;
    overflow: hidden;
  }
  .loading {
    font-size: 50px;
  }
  .placeholder {
    font-size: 30px;
  }
  pre {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: $min-height;
  }
}
